body {
  padding-top: 50px;
}

.colap-logo {
  width: 100px;
  background-color: #37474f;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}
