<div class="row">
  <div class="col-xs-12">
    <h1>@colap-dev/ngx-britecharts</h1>
    <h3>Bar charts</h3>
    <h5>Bar Chart with Tooltip</h5>
    <ngx-bc-legendchart #legendChart [data]="firstBarChartData" [chartConfig]="firstBarChartConfig"></ngx-bc-legendchart>
    <ngx-bc-barchart #barChart [data]="firstBarChartData" [chartConfig]="firstBarChartConfig"></ngx-bc-barchart>
    <ngx-bc-groupedbarchart #groupedBarChart [data]="groupedBarChartData" [chartConfig]="gorupedBarChartConfig"></ngx-bc-groupedbarchart>
  </div>
</div>
